* {
    margin: 0;
    padding: 0;
}

html,
body,
section,
.full-height {
    height: 100%;
}

.row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px
}

#md-pad {
    width: 48vw;
    height: 96vh;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;

    padding: 10px;

    border: 1px solid lightgray;
    border-radius: 3px;
    resize: none;
    overflow: auto;
    outline: none;
}

#markdown {
    width: 48vw;
    height: 96vh;
    overflow: auto;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    border: 1px solid lightgray;
    /* background-color: rgb(243, 243, 243); */
}

#markdown > * {
    /* height: 100%; */
    margin: auto;
    overflow: hidden;
    padding: 15px;
}
/* 
#markdown, #markdown > * {
    background-color: rgb(250, 250, 250);
} */
